.authContainer  {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(100,100,100,0.8);
  z-index: 1000;
}

.isConnected  {
  display: none;
}

.auth {
  width: 500px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  margin-top: 10%;
  padding: 20px;
}

.fb-login-button  {
  margin: auto;
  width: 254px;
  display: block;
}

.authContent  {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5%;
}

.closeCross {
  display: block;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  top: -8px;
  right: -450px;
  text-align: center;
}

H1  {
  margin-top: 10px;
  font-weight: bold;
}

p {
  margin-left: 20px;
}

.Content  {
  margin-top: 20px;
}

.facebookConnection {
  width: 254px;
  height: 40px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: blue;
  margin: auto;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
