<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Bienvenue sur l'application {{ title }}!
  </h1>

</div>


<div class="container">
    <div class="col-xs-12">
      <h2>Mes tweets</h2>
<div  *ngFor="let tweet of tweets">
  <blockquote class="twitter-tweet" >
   <a href={{getUrl(tweet)}}> <p><b>{{tweet.text}}</b></p>
<p class="user"> - @{{tweet.user.screen_name}}</p></a>
  </blockquote>
</div>



<!-- {{tweet.entities.urls[0].url}} !-->


   <button class="btn btn-primary"
         (click)="onFetch()">Récupérer les tweets</button>
</div>
</div>

<router-outlet></router-outlet>
